body {
    margin: 0;
    padding: 0;
    overflow: hidden;  /* Para garantir que o iframe ocupe toda a tela sem barras de rolagem */
  }
  
  iframe {
    width: 100%;
    height: 100vh;  /* A altura será 100% da altura da tela */
    border: none;   /* Remove a borda do iframe */
  }
  